################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ISNP184522_ISNP152823_Unidad3/FileContentIndex/499f257d-b480-4dc1-a566-9e5c8559e641.vsidx
/.vs/ISNP184522_ISNP152823_Unidad3/FileContentIndex/7d7da43b-688a-4c59-a7dd-d1f52f3eb724.vsidx
